<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/src/plugs/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/src/plugs/bootstrap/dist/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/src/css/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="/src/plugs/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/src/plugs/layui/layui.js"></script>
    <script type="text/javascript" src="/src/plugs/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/src/plugs/jquery/dist/jquery.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/src/css/personal.css" media="all">-->
</head>
<body>
{__CONTENT__}
<script type="text/javascript">
    $(".layui-form").submit(function () {
        submitForm(".layui-form");
        return false;
    });

    function submitForm(id, callback) {
        var form = $(id);
        var url = form.attr('action');
        var obj = serializeForm(id);
        postSomething(url, obj, callback);
        return false;
    }

    function serializeForm(obj) {
        var params = {};
        $.each($(obj).serializeArray(), function (index, param) {
            if (!(param.name in params)) {
                params[param.name] = param.value;
            }
        });
        return params;
    }

    function postSomething(url, obj, callback) {
        $.ajax({
            type: "POST",
            url: url,
            enctype: 'multipart/form-data',
            data: obj,
            success: function (res) {
                console.log(res);
                if(callback === undefined){
                    callback = function (res) {
                        if(res.code){
                            layer.msg(res.msg,{icon:1,time:1500},function () {
                                window.location.href = res.url;
                            });
                        }else{
                            layer.msg(res.msg,{icon:2,time:1500});
                        }
                    };
                }
                callback(res);
            }
        });
    }

    function openLayer(config,btnFunction) {
        var option = {
            type: 2,title: '查看',closeBtn: 1
            ,width: '400px',height:'400px',shade: 0.3,shadeClose:true
            ,btn: ['保存','取消'],moveType: 1
            ,url: '',maxmin: false
        };

        $.extend(option,config);

        var layer_option = {
            type: option.type
            ,title: option.title
            ,area: [option.width, option.height]
            ,shade: option.shade
            ,shadeClose: option.shadeClose
            ,maxmin: option.maxmin
            ,content: option.url
            ,moveType:option.moveType
            ,btn: option.btn //只是为了演示
            ,success: function(index){
                layer.setTop(index); //重点2
            }
        };
        $.extend(layer_option , btnFunction);
        layer.open(layer_option);
    }
</script>
</body>
</html>