{layout name="main" /}
<link rel="stylesheet" type="text/css" href="/static/css/personal.css" media="all">
<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="larry-personal-body clearfix ">
            <div class="row">
                <blockquote class="layui-elem-quote mylog-info-tit">
                    <ul>
                        <li id="addMenu" class="layui-btn layui-this"><i class="layui-icon">&#xe60a;</i>添加菜单</li>
                        <li class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe63c;</i>功能节点</li>
                    </ul>
                </blockquote>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-3" style="min-height: 600px; display: inline-block;  border: 1px solid #ddd; overflow: auto;">
                    <ul id="node"></ul>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-8" style="min-height: 600px; display: inline-block;   margin-left: 10px; vertical-align: top;">
                    <fieldset class="layui-elem-field layui-field-title col-md-11 col-lg-11 col-xs-11">
                        <legend class="larry-personal-tit"> <span>点击左侧菜单获取菜单详情</span></legend>
                        <form id="menu" class="layui-form">
                            <div class="layui-field-box">
                                <!--<div class="layui-form-item">-->
                                    <!--<label for="id" class="layui-form-label col-md-3">ID:</label>-->
                                    <!--<div class="layui-input-block">-->
                                        <!--<input id="id" name="id" class="layui-input layui-hide">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <input id="id" name="id" class="layui-input layui-hide">
                                <div class="layui-form-item">
                                    <label for="parent_id" class="layui-form-label col-md-3">所属菜单: </label>
                                    <div class="layui-input-block">
                                        <select class="col-md-3" id="parent_id" name="parent_id" lay-filter="parent">
                                            <option value="0" selected>一级菜单</option>
                                            {foreach name="parent_menu" item="pm"}
                                            <option value="{$pm['id']}">{$pm['title']}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="name" class="layui-form-label col-md-3">名称: </label>
                                    <div class="layui-input-block">
                                        <input id="name" class="layui-input" v-model="name">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="icon" class="layui-form-label col-md-3">图标: </label>
                                    <div class="layui-input-block">
                                        <input id="icon" class="layui-input" v-model="icon">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="module" class="layui-form-label">模块: </label>
                                    <div class="layui-input-block">
                                        <input id="module" class="layui-input" v-model="module">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="controller" class="layui-form-label col-md-3">控制器: </label>
                                    <div class="layui-input-block">
                                        <input id="controller" class="layui-input " v-model="controller">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="func" class="layui-form-label col-md-3">方法: </label>
                                    <div class="layui-input-block">
                                        <input id="func" class="layui-input " v-model="func">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="sort" class="layui-form-label col-md-3">排序: </label>
                                    <div class="layui-input-block">
                                        <input id="sort" class="layui-input " v-model="sort">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block pull-right">
                                        <a id="add" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add">新增</a>
                                        <a id="update" class="layui-btn layui-hide" lay-submit="" lay-filter="update">更新</a>
                                        <a id="delete" class="layui-btn layui-btn-danger layui-hide" lay-submit="" lay-filter="demo1">删除</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var form;
    layui.use(['form'],function(){
        form = layui.form();
    });
    var url = '{:url("system/menu/getMenu")}';
    var current_node = [] ;
    $("#addMenu").click(function (e) {
        $("#update").addClass('layui-hide');
        $("#delete").addClass('layui-hide');
        $("#add").removeClass('layui-hide');

        $("#id").val("");
        $("#name").val("");
        $("#icon").val("");
        $("#module").val("");
        $("#controller").val("");
        $("#func").val("");
        $("#sort").val("");
        $("#parent_id").val(0);
        form.render('select');
    });
    $.post(url,{},function (res) {
        layui.use('tree', function(){
            layui.tree({
                elem: '#node' //传入元素选择器
                ,nodes: res.data,
                click:function (node) {
                    current_node = node;

                    $("#update").removeClass('layui-hide');
                    $("#delete").removeClass('layui-hide');
                    $("#add").addClass('layui-hide');

                    $("#id").val(node.id);
                    $("#name").val(node.name);
                    $("#icon").val(node.icon);
                    $("#module").val(node.module);
                    $("#controller").val(node.controller);
                    $("#func").val(node.func);
                    $("#sort").val(node.sort);
                    $("#parent_id").val(current_node.parent_id);
                    form.render('select');
                }
            });
        });
    });

    $("#update").click(function () {
        updateMenu();
    });
    $("#add").click(function () {
        updateMenu();
    });
    $("#delete").click(function () {
        var delete_url = '{:url("system/menu/deleteMenu")}';
        var id   = $("#id").val();
        $.post(delete_url,{
            id:id
        },function (res) {
            if(res.code){
                layer.alert(res.msg, {
                    skin: 'layui-layer-molv' //样式类名
                    ,closeBtn: 0
                    ,anim: 0 //动画类型
                }, function(index){
                    layer.close(index);
                    window.location.reload();
                });
            }
            console.log(res);
            return false;
        });
        return false;
    });
    function updateMenu() {
        var update_url = '{:url("system/menu/updateMenu")}';
        var id   = $("#id").val();
        var parent_id   = $("#parent_id").val();
        var name = $("#name").val();
        var icon = $("#icon").val();
        var module = $("#module").val();
        var controller = $("#controller").val();
        var func = $("#func").val();
        var sort = $("#sort").val();
        $.post(update_url,{
            id:id,
            parent_id:parent_id,
            name:name,
            icon:icon,
            module:module,
            controller:controller,
            func:func,
            sort:sort
        },function (res) {
            if(res.code){
                layer.alert(res.msg, {
                    skin: 'layui-layer-molv' //样式类名
                    ,closeBtn: 0
                    ,anim: 0 //动画类型
                }, function(index){
                    layer.close(index);
                    window.location.reload();
                });
            }
            console.log(res);
            return false;
        });
        return false;
    }

</script>