<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="menu">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:void(0);">所有商品</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);">列表一</a></dd>
                    <dd><a href="javascript:void(0);">列表二</a></dd>
                    <dd><a href="javascript:void(0);">列表三</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);">列表一</a></dd>
                    <dd><a href="javascript:void(0);">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
        </ul>
    </div>
</div>